# Ignore everything in .config/ directory
*
mpd/mpd.db
mpd/mpdstate
mpd/playlists
nvim/lazy-lock.json

# Except the following files and directories
!nvim/
!i3/
!i3status/
!st/
!mpd/
!ncmpcpp/
!picom/
!tmux/
!redshift/
!wallpapers/
!screenshot1.png
!screenshot2.png
