[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "wallpapers"]
	path = wallpapers
	url = https://github.com/Seven719/wallpapers.git
