# Ignore everything in .config/ directory
*
mpd/mpd.db
mpd/mpdstate
mpd/playlists

# Except the following files and directories
!nvim/
!dwm/
!st/
!mpd/
!ncmpcpp/
!picom/
!tmux/
!screenshot1.png
!screenshot2.png
