*
mpd/mpd.db
mpd/mpdstate
mpd/playlists
nvim/lazy-lock.json

# Except the following files and directories
!nvim/
!nixos/
!sway/
!i3status/
!mpd/
!ncmpcpp/
!tmux/
!wallpapers/
!screenshot1.png
!screenshot2.png
!screenshot3.png
